html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Some description')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Todo #{status}
			hr
			p
				if status == "all" || status == "add" 
					a.btn.btn-primary(href='/add') Add New

			table.table.table-bordered
				tr
					th.text-center(width='5%') #
					th.text-left(width='35%') Title
					th.text-left(width='50%') Content
					if status == "all" || status == "edit" 
						th.text-left(width='5%') Edit
					if status == "all" || status == "del" 
						th.text-left(width='5%') Delete
				for ps in articles
					tr
						td=ps.atc_id
						td=ps.title
						td=ps.body
						if status == "all" || status == "edit" 
							td
								a.btn.btn-warning(href='edit/' + ps.atc_id) Edit

						if status == "all" || status == "del" 
							td
								a.btn.btn-danger(href='delete/' + ps.atc_id) Delete

