html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Some description')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    div.container
      h3 People 
      hr
      p
        a.btn.btn-primary(href='/person/add') Add New Person

      table.table.table-bordered
        tr
          th.text-center(width='5%') #
          th.text-left(width='35%') Name
          th.text-left(width='5%') Age
          th.text-left(width='35%') Email
          th.text-left(width='20%') Movie
          th.text-left(width='5%') Edit
          th.text-left(width='5%') Delete
        for ps in people
          tr
            td=ps.id
            td=ps.name
            td=ps.age
            td=ps.email
            td=ps.movie
            td
              a.btn.btn-warning(href='/person/edit/' + ps.id) Edit
            td
              a.btn.btn-danger(href='/person/delete/' + ps.id) Delete

